---
import { DEFAULT_LANG } from '../../consts';
import { getCollection } from 'astro:content';
export const prerender = true;

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.data.slug ?? post.slug },
	}));
}

const { slug } = Astro.params;
const target = `/blog/${DEFAULT_LANG}/${slug}/`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="refresh" content={`0; url=${target}`} />
		<link rel="canonical" href={target} />
	</head>
	<body>
		<p>Redirecting to <a href={target}>{target}</a>...</p>
	</body>
</html>
